<nav>
  <div class="nav__item1">
    <div class="nav__item1-logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoqmUJV4OaqSG1bb-ZRC86CqurZS5LQ59JCg&usqp=CAU" alt="logo-img">
    </div>
    E-Shopfy
  </div>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text"   numberOnly name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="nav__item3">
    <p>profile</p>
  </div>
</nav>
<app-product-list></app-product-list>